/*rn-admin.css*/

.rnpage{
}

.rn_header{
margin-top:15px;
font-size:14px;
font-weight:bold;
color:#800000;
}

.this{
margin-top:20px;
background-color:#EAF3FA;
padding-left:10px;
padding-top:10px;
font-size:11px;
font-weight:bold;
}

#rnpage strong{
font-size:14px;
color:blue;
}


.that{
background-color:#ffffff;
}

.rncols{
float:left;
margin-right:10px;
width:265px;
}

.rntestmode{
float:left;
margin-top:20px;
width:140px;
border:1px solid black;
padding:5px;
}

.rnalert{
border:1px solid red;
background-color:#E58825;
color:blue;
}

.rnalert strong{
text-decoration:blink;
}

.rnsubmit{
margin-top:10px;
float:left;
width:100px;
}

